.profile-container {
  position: absolute;
  top: 0;
  height: 500px;
  width: 100%;
  font-size: 21px;
  text-align: center;
  background: #50a3a2;
  background: -webkit-linear-gradient(top left, #48b1bf 0%, #0856c1 100%);
  background: linear-gradient(to bottom right, #48b1bf 0%, #0856c1 100%);
}

.profile-container > div {
  -webkit-animation: fadein 2s;
  animation: fadein 2s;
}

@keyframes fadein {
  from {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }
  to {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@-webkit-keyframes fadein {
  from {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }
  to {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}